/** 公共样式 */
@import "variables"; // 样式变量
/*包含以下四种的链接*/
a {
  text-decoration: none;
  /*正常的未被访问过的链接*/
  &:link {
    text-decoration: none;
    color: currentColor;
  }
  /*已经访问过的链接*/
  &:visited {
    text-decoration: none;
    color: currentColor;
  }
  /*鼠标划过(停留)的链接*/
  &:hover {
    text-decoration: none;
    color: currentColor;
  }
  /* 正在点击的链接*/
  &:active {
    text-decoration: none;
    color: currentColor;
  }
}

.chart-box {
  // background-color: $morandi-color-1;
  .chart-content {
    background-color: #285080;
    margin-top: 20px;
  }
}
